In [1]:
import pandas as pd
import numpy as np

In [2]:
myindex = ['USA', 'Canada', 'Mexico']
mydata = [1776, 1867, 1821]

In [3]:
myseries = pd.Series(mydata,myindex)

In [4]:
myseries

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [5]:
myseries[0]

1776

In [6]:
myseries['USA']

1776

In [7]:
ages = {'Sam': 15, 'Frank':17, 'Spike': 5}

In [8]:
pd.Series(ages)

Sam      15
Frank    17
Spike     5
dtype: int64

In [9]:
#Imaginary sales data for 1st and 2nd quarters
q1 = {'Japan': 80, 'China':450, 'India': 200, 'USA':250}
q2 = {'Brazil': 100, 'China':500, 'India': 210, 'USA':260}

In [10]:
sales_q1 = pd.Series(q1)

In [11]:
sales_q2 = pd.Series(q2)

In [12]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [13]:
 sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [14]:
sales_q1['Japan']

80

In [15]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [16]:
np.array([1,2]) * 2

array([2, 4])

In [18]:
sales_q1 + 100

Japan    180
China    550
India    300
USA      350
dtype: int64

In [19]:
sales_q1.add(sales_q2, fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64