### Using Series function, analyze data

In [1]:
import pandas as pd
import numpy as np

#### Series size, unique, count,value_counts functions
- size: returns the number
- shape: returns shape in tuple type
- unique: returns only unique values in ndarray
- count: returns except NaN numbers
- mean: average except NaN
- value_counts: returns NaN

In [3]:
a = pd.Series([1,2,3,4,5,2,3,4,2,2,1,1,5,6,7,np.NaN])
a

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     2.0
6     3.0
7     4.0
8     2.0
9     2.0
10    1.0
11    1.0
12    5.0
13    6.0
14    7.0
15    NaN
dtype: float64

In [4]:
len(a)

16

In [5]:
a.size

16

In [6]:
a.shape

(16,)

In [8]:
a.unique()

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7., nan])

In [9]:
a.count()

15

In [13]:
b = np.array([2,2,2,2,np.NaN])
b.mean()

c = pd.Series(b)
c.mean()

2.0

In [14]:
a.mean()

3.2

In [15]:
a.value_counts() # must remember this!!!

2.0    4
1.0    3
5.0    2
4.0    2
3.0    2
7.0    1
6.0    1
dtype: int64

- using index, access multiple values

In [20]:
a[[5,7,8]].value_counts()

2.0    2
4.0    1
dtype: int64

In [19]:
a

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     2.0
6     3.0
7     4.0
8     2.0
9     2.0
10    1.0
11    1.0
12    5.0
13    6.0
14    7.0
15    NaN
dtype: float64

### head, tail functions
- head: prints top 5 elements as default
- tail: prints bottom 5 elements as default

In [21]:
a.head()

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

In [22]:
a.tail()

11    1.0
12    5.0
13    6.0
14    7.0
15    NaN
dtype: float64

In [23]:
a

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     2.0
6     3.0
7     4.0
8     2.0
9     2.0
10    1.0
11    1.0
12    5.0
13    6.0
14    7.0
15    NaN
dtype: float64