In [1]:
import numpy as np
import pandas as pd

### series data update
- add or update: using index
- delete: using drop function

In [2]:
s = pd.Series(np.arange(100, 105), ['a', 'b', 'c', 'd','e'])
s

a    100
b    101
c    102
d    103
e    104
dtype: int64

In [3]:
s['a'] = 200
s

a    200
b    101
c    102
d    103
e    104
dtype: int64

In [4]:
s['k'] = 300
s

a    200
b    101
c    102
d    103
e    104
k    300
dtype: int64

In [6]:
s.drop('k', inplace=True)

In [7]:
s

a    200
b    101
c    102
d    103
e    104
dtype: int64

In [8]:
s[['a', 'b']] = [300, 900]
s

a    300
b    900
c    102
d    103
e    104
dtype: int64

#### slicing
- list, ndarray are similar

In [9]:
s1 = pd.Series(np.arange(100, 105))
s1

0    100
1    101
2    102
3    103
4    104
dtype: int64

In [10]:
s1[1:3]

1    101
2    102
dtype: int64

In [11]:
s2 = pd.Series(np.arange(100,105), ['a','b', 'c', 'd','e'])
s2

a    100
b    101
c    102
d    103
e    104
dtype: int64

In [15]:
s2[0:3]

a    100
b    101
c    102
dtype: int64

In [14]:
s2['c':'d']

c    102
d    103
dtype: int64