#### dataFrame creation
- generally, data for analysis purpose, create dataFrame thru other data source (database, other external file)

In [1]:
import pandas as pd

#### create from dictionary
- dict key -> column

In [2]:
data = {'a': 100, 'b': 200, 'c': 300}
pd.DataFrame(data, index=['x', 'y', 'z'])

     a    b    c
x  100  200  300
y  100  200  300
z  100  200  300

In [3]:
data = {'a': [1,2,3], 'b': [4,5,6], 'c': [7,8,9]}
pd.DataFrame(data, index=['x', 'y', 'z'])

   a  b  c
x  1  4  7
y  2  5  8
z  3  6  9

#### Series creation
- each Series index -> column

In [4]:
a = pd.Series([100,200,300], ['a', 'b', 'd'])
b = pd.Series([101,201,301], ['a', 'b', 'k'])
c = pd.Series([110,210,310], ['a', 'b', 'c'])

pd.DataFrame([a,b,c], index = [100,101,102])

         a      b      d      k      c
100  100.0  200.0  300.0    NaN    NaN
101  101.0  201.0    NaN  301.0    NaN
102  110.0  210.0    NaN    NaN  310.0