In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
import warnings
import seaborn as sns
from sklearn.linear_model import LinearRegression

### Time related preprocessing
- fetch from BigQuery
    - DATETIME_TRUNC: cut data
    - EXTRACT => MONTH, WEEK, DAY, HOUR can be extracted
    - FORMAT_DATETIME => which day can be extracted (1 = Monday, 0 = Monday in Pandas)

In [2]:
import os
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = '/workspace/Data-Science/mobility-285808-aa8e44818175.json'

# import GCP Client library
from google.cloud import bigquery

#instantiate a client for bigquery service
bigquery_client = bigquery.Client()
bigquery_client

In [3]:
query = """
SELECT
    *,
    EXTRACT(MONTH FROM pickup_hour) AS month,
    EXTRACT(DAY FROM pickup_hour) AS day,
    CAST(format_datetime('%u', pickup_hour) AS INT64) -1 AS weekday,
    EXTRACT(HOUR FROM pickup_hour) AS hour,
    CASE WHEN CAST(FORMAT_DATETIME('%u', pickup_hour) AS INT64) IN (6, 7) THEN 1 ELSE 0 END AS is_weekend
FROM (
    SELECT 
        DATETIME_TRUNC(pickup_datetime, hour) AS pickup_hour,
        count(*) AS cnt
    FROM `bigquery-public-data.new_york_taxi_trips.tlc_yellow_trips_2015` 
    WHERE EXTRACT(MONTH from pickup_datetime) = 1
    GROUP BY pickup_hour
)
ORDER BY pickup_hour
"""

In [4]:
# run query and get data from bigquery
query_job = bigquery_client.query(query) #API request

In [5]:
# data into dataframe
df = query_job.to_dataframe()
df.head()

          pickup_hour    cnt  month  day  weekday  hour  is_weekend
0 2015-01-01 00:00:00  28312      1    1        3     0           0
1 2015-01-01 01:00:00  31707      1    1        3     1           0
2 2015-01-01 02:00:00  28068      1    1        3     2           0
3 2015-01-01 03:00:00  24288      1    1        3     3           0
4 2015-01-01 04:00:00  17081      1    1        3     4           0

In [6]:
df.tail()

            pickup_hour    cnt  month  day  weekday  hour  is_weekend
739 2015-01-31 19:00:00  32436      1   31        5    19           1
740 2015-01-31 20:00:00  27555      1   31        5    20           1
741 2015-01-31 21:00:00  27477      1   31        5    21           1
742 2015-01-31 22:00:00  29862      1   31        5    22           1
743 2015-01-31 23:00:00  29856      1   31        5    23           1

In [7]:
query = """
SELECT
    DATETIME_TRUNC(pickup_datetime, hour) AS pickup_hour,
    EXTRACT(MONTH FROM pickup_datetime) AS month,
    EXTRACT(DAY FROM pickup_datetime) AS day,
    CAST(FORMAT_DATETIME('%u', pickup_datetime) AS INT64) -1 AS weekday,
    EXTRACT(HOUR FROM pickup_datetime) AS hour,
    CASE WHEN CAST(FORMAT_DATETIME('%u', pickup_datetime) AS INT64) IN (6, 7) THEN 1 ELSE 0 END AS is_weekend,
    count(*) AS cnt
FROM `bigquery-public-data.new_york_taxi_trips.tlc_yellow_trips_2015`
WHERE EXTRACT(MONTH from pickup_datetime) = 1
GROUP BY pickup_hour, month, day, weekday, hour, is_weekend
ORDER BY pickup_hour
"""

In [8]:
# run query and get data from bigquery
query_job = bigquery_client.query(query) #API request

# data into dataframe
df = query_job.to_dataframe()
df.head()

          pickup_hour  month  day  weekday  hour  is_weekend    cnt
0 2015-01-01 00:00:00      1    1        3     0           0  28312
1 2015-01-01 01:00:00      1    1        3     1           0  31707
2 2015-01-01 02:00:00      1    1        3     2           0  28068
3 2015-01-01 03:00:00      1    1        3     3           0  24288
4 2015-01-01 04:00:00      1    1        3     4           0  17081

In [9]:
# extract using python, pd.to_datetime, ex. df[col].df.xxx
exact_query = """
SELECT
    DATETIME_TRUNC(pickup_datetime, hour) AS pickup_hour,
    count(*) AS cnt
FROM `bigquery-public-data.new_york_taxi_trips.tlc_yellow_trips_2015`
WHERE EXTRACT(MONTH from pickup_datetime) = 1
GROUP BY pickup_hour
ORDER BY pickup_hour
"""

In [10]:
# run query and get data from bigquery
query_job = bigquery_client.query(exact_query) #API request

# data into dataframe
df = query_job.to_dataframe()
df.head()

          pickup_hour    cnt
0 2015-01-01 00:00:00  28312
1 2015-01-01 01:00:00  31707
2 2015-01-01 02:00:00  28068
3 2015-01-01 03:00:00  24288
4 2015-01-01 04:00:00  17081

In [11]:
 df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 744 entries, 0 to 743
Data columns (total 2 columns):
pickup_hour    744 non-null datetime64[ns]
cnt            744 non-null int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 11.8 KB

In [12]:
df['pickup_hour'].dt.date

0      2015-01-01
1      2015-01-01
2      2015-01-01
3      2015-01-01
4      2015-01-01
          ...
739    2015-01-31
740    2015-01-31
741    2015-01-31
742    2015-01-31
743    2015-01-31
Name: pickup_hour, Length: 744, dtype: object

In [13]:
df['pickup_hour'].dt.hour

0       0
1       1
2       2
3       3
4       4
       ..
739    19
740    20
741    21
742    22
743    23
Name: pickup_hour, Length: 744, dtype: int64

In [14]:
df['month'] = df['pickup_hour'].dt.month
df['day'] = df['pickup_hour'].dt.day
df['weekday'] = df['pickup_hour'].dt.weekday
df['hour'] = df['pickup_hour'].dt.hour
df['is_weekend'] = (df['pickup_hour'].dt.weekday // 5 == 1).astype(int)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 744 entries, 0 to 743
Data columns (total 7 columns):
pickup_hour    744 non-null datetime64[ns]
cnt            744 non-null int64
month          744 non-null int64
day            744 non-null int64
weekday        744 non-null int64
hour           744 non-null int64
is_weekend     744 non-null int64
dtypes: datetime64[ns](1), int64(6)
memory usage: 40.8 KB

In [16]:
df.tail()

            pickup_hour    cnt  month  day  weekday  hour  is_weekend
739 2015-01-31 19:00:00  32436      1   31        5    19           1
740 2015-01-31 20:00:00  27555      1   31        5    20           1
741 2015-01-31 21:00:00  27477      1   31        5    21           1
742 2015-01-31 22:00:00  29862      1   31        5    22           1
743 2015-01-31 23:00:00  29856      1   31        5    23           1

### BigQuery GIS, Reverse Geocoding

- coordinates => transfer to 'zip_code'
- BigQuery, bigquery-public-data.geo_us_boundaries.zip_codes
- use ST_CONTAINS to extract data

In [17]:
base_query="""
WITH base_data AS 
(
  SELECT nyc_taxi.*, gis.* EXCEPT (zip_code_geom)
  FROM (
    SELECT *
    FROM `bigquery-public-data.new_york_taxi_trips.tlc_yellow_trips_2015`
    WHERE 
        EXTRACT(MONTH from pickup_datetime) = 1
        and pickup_latitude  <= 90 and pickup_latitude >= -90
    ) AS nyc_taxi
  JOIN (
    SELECT zip_code, state_code, state_name, city, county, zip_code_geom
    FROM `bigquery-public-data.geo_us_boundaries.zip_codes`
    WHERE state_code='NY'
    ) AS gis 
  ON ST_CONTAINS(zip_code_geom, st_geogpoint(pickup_longitude, pickup_latitude))
)

SELECT 
    zip_code,
    DATETIME_TRUNC(pickup_datetime, hour) as pickup_hour,
    EXTRACT(MONTH FROM pickup_datetime) AS month,
    EXTRACT(DAY FROM pickup_datetime) AS day,
    CAST(format_datetime('%u', pickup_datetime) AS INT64) -1 AS weekday,
    EXTRACT(HOUR FROM pickup_datetime) AS hour,
    CASE WHEN CAST(FORMAT_DATETIME('%u', pickup_datetime) AS INT64) IN (6, 7) THEN 1 ELSE 0 END AS is_weekend,
    COUNT(*) AS cnt
FROM base_data 
GROUP BY zip_code, pickup_hour, month, day, weekday, hour, is_weekend
ORDER BY pickup_hour

"""

In [18]:
# run query and get data from bigquery
query_job = bigquery_client.query(base_query) #API request

# data into dataframe
df = query_job.to_dataframe()
df.head()

  zip_code pickup_hour  month  day  weekday  hour  is_weekend   cnt
0    10006  2015-01-01      1    1        3     0           0    64
1    10010  2015-01-01      1    1        3     0           0  1045
2    11104  2015-01-01      1    1        3     0           0    35
3    10019  2015-01-01      1    1        3     0           0  1367
4    10472  2015-01-01      1    1        3     0           0     1

## categorical data preprocessing
- one hot encoding

In [19]:
enc = OneHotEncoder(handle_unknown='ignore')
enc.fit(df[['zip_code']])

OneHotEncoder(categorical_features=None, categories=None, drop=None,
              dtype=<class 'numpy.float64'>, handle_unknown='ignore',
              n_values=None, sparse=True)

In [20]:
one_output = enc.transform(df[['zip_code']]).toarray()
oh_feature_df = pd.concat([df, pd.DataFrame(one_output, columns='zip_code_'+enc.categories_[0])], axis=1)
oh_feature_df.head(3)

,zip_code,pickup_hour,month,day,weekday,hour,is_weekend,cnt,zip_code_10001,zip_code_10002,...,zip_code_12601,zip_code_12729,zip_code_12771,zip_code_13029,zip_code_13118,zip_code_13656,zip_code_13691,zip_code_14072,zip_code_14527,zip_code_14801
0,10006,2015-01-01,1,1,3,0,0,64,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,10010,2015-01-01,1,1,3,0,0,1045,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,11104,2015-01-01,1,1,3,0,0,35,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

- Label Encoding

In [21]:
le = LabelEncoder()
le.fit(df['zip_code'])
oh_feature_df['zip_code_le']=le.transform(oh_feature_df['zip_code'])
oh_feature_df.head()

,zip_code,pickup_hour,month,day,weekday,hour,is_weekend,cnt,zip_code_10001,zip_code_10002,...,zip_code_12729,zip_code_12771,zip_code_13029,zip_code_13118,zip_code_13656,zip_code_13691,zip_code_14072,zip_code_14527,zip_code_14801,zip_code_le
0,10006,2015-01-01,1,1,3,0,0,64,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
1,10010,2015-01-01,1,1,3,0,0,1045,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8
2,11104,2015-01-01,1,1,3,0,0,35,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,187
3,10019,2015-01-01,1,1,3,0,0,1367,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16
4,10472,2015-01-01,1,1,3,0,0,1,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,101

## Train and Test Split
- No time sampling for Time Series
- Train data should include prev history data, Test data should include future data
    - In real production level, predict future data based on prev data

In [22]:
def split_train_and_test(df, date):
    train_df = df[df['pickup_hour'] < date]
    test_df = df[df['pickup_hour'] >= date]
    return train_df, test_df

In [23]:
def split_train_and_test_period(df, date):
    criteria = (max(df['pickup_hour']) - pd.Timedelta(days=period)).period()
    train_df = df[df['pickup_hour'] < date]
    test_df = df[df['pickup_hour'] >= date]
    return train_df, test_df

### Distinguish Train / Test

In [24]:
train_df, test_df = split_train_and_test(oh_feature_df, '2015-01-24')

In [25]:
train_df.head()

,zip_code,pickup_hour,month,day,weekday,hour,is_weekend,cnt,zip_code_10001,zip_code_10002,...,zip_code_12729,zip_code_12771,zip_code_13029,zip_code_13118,zip_code_13656,zip_code_13691,zip_code_14072,zip_code_14527,zip_code_14801,zip_code_le
0,10006,2015-01-01,1,1,3,0,0,64,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
1,10010,2015-01-01,1,1,3,0,0,1045,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8
2,11104,2015-01-01,1,1,3,0,0,35,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,187
3,10019,2015-01-01,1,1,3,0,0,1367,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16
4,10472,2015-01-01,1,1,3,0,0,1,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,101

In [26]:
 test_df.head()

,zip_code,pickup_hour,month,day,weekday,hour,is_weekend,cnt,zip_code_10001,zip_code_10002,...,zip_code_12729,zip_code_12771,zip_code_13029,zip_code_13118,zip_code_13656,zip_code_13691,zip_code_14072,zip_code_14527,zip_code_14801,zip_code_le
65118,10029,2015-01-24,1,24,5,0,1,119,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,26
65119,11221,2015-01-24,1,24,5,0,1,17,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,210
65120,10023,2015-01-24,1,24,5,0,1,605,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20
65121,10028,2015-01-24,1,24,5,0,1,418,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25
65122,11378,2015-01-24,1,24,5,0,1,3,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,251

In [27]:
del train_df['zip_code']
del train_df['pickup_hour']
del test_df['zip_code']
del test_df['pickup_hour']

In [28]:
train_df.head(2)

,month,day,weekday,hour,is_weekend,cnt,zip_code_10001,zip_code_10002,zip_code_10003,zip_code_10004,...,zip_code_12729,zip_code_12771,zip_code_13029,zip_code_13118,zip_code_13656,zip_code_13691,zip_code_14072,zip_code_14527,zip_code_14801,zip_code_le
0,1,1,3,0,0,64,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
1,1,1,3,0,0,1045,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8

In [29]:
y_train = train_df.pop('cnt')
x_train = train_df.copy()

In [30]:
y_test = test_df.pop('cnt')
x_test = test_df.copy()

In [31]:
x_train

,month,day,weekday,hour,is_weekend,zip_code_10001,zip_code_10002,zip_code_10003,zip_code_10004,zip_code_10005,...,zip_code_12729,zip_code_12771,zip_code_13029,zip_code_13118,zip_code_13656,zip_code_13691,zip_code_14072,zip_code_14527,zip_code_14801,zip_code_le
0,1,1,3,0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
1,1,1,3,0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8
2,1,1,3,0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,187
3,1,1,3,0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16
4,1,1,3,0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65113,1,23,4,23,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,218
65114,1,23,4,23,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9
65115,1,23,4,23,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,55
65116,1,23,4,23,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,84
65117,1,23,4,23,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,244

In [32]:
y_train

0          64
1        1045
2          35
3        1367
4           1
         ...
65113       2
65114    1649
65115      23
65116       1
65117       1
Name: cnt, Length: 65118, dtype: int64

In [33]:
x_test

,month,day,weekday,hour,is_weekend,zip_code_10001,zip_code_10002,zip_code_10003,zip_code_10004,zip_code_10005,...,zip_code_12729,zip_code_12771,zip_code_13029,zip_code_13118,zip_code_13656,zip_code_13691,zip_code_14072,zip_code_14527,zip_code_14801,zip_code_le
65118,1,24,5,0,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,26
65119,1,24,5,0,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,210
65120,1,24,5,0,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20
65121,1,24,5,0,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25
65122,1,24,5,0,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,251
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87015,1,31,5,23,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,223
87016,1,31,5,23,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,83
87017,1,31,5,23,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,197
87018,1,31,5,23,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,258
87019,1,31,5,23,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,92

In [34]:
y_test

65118    119
65119     17
65120    605
65121    418
65122      3
        ...
87015      1
87016      4
87017      1
87018      1
87019      1
Name: cnt, Length: 21902, dtype: int64