In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

from datetime import datetime
from matplotlib import pyplot as plt

%matplotlib inline

In [2]:
df = pd.read_csv('OnlineRetailFiltered.csv')
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], infer_datetime_format=True)
df.head()

,Unnamed: 0,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,536365,United Kingdom,15.30
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,536365,United Kingdom,20.34
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,536365,United Kingdom,22.00
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,536365,United Kingdom,20.34
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,536365,United Kingdom,20.34

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397884 entries, 0 to 397883
Data columns (total 10 columns):
Unnamed: 0     397884 non-null int64
InvoiceNo      397884 non-null int64
StockCode      397884 non-null object
Description    397884 non-null object
Quantity       397884 non-null int64
InvoiceDate    397884 non-null datetime64[ns]
UnitPrice      397884 non-null float64
CustomerID     397884 non-null int64
Country        397884 non-null object
TotalPrice     397884 non-null float64
dtypes: datetime64[ns](1), float64(2), int64(4), object(3)
memory usage: 30.4+ MB

### Selecting VIP clients
- based on number of transactions
- based on accumulated payments

In [4]:
vip_by_transactions = df.groupby('CustomerID').count()['Quantity'].sort_values(ascending=False)
vip_by_transactions

CustomerID
576339    542
579196    533
580727    529
578270    442
573576    435
         ...
570181      1
570144      1
570130      1
541243      1
549585      1
Name: Quantity, Length: 18532, dtype: int64

In [5]:
df.groupby('CustomerID').sum()['TotalPrice'].sort_values(ascending=False)

CustomerID
581483    168469.60
541431     77183.60
556444     38970.00
567423     31698.16
556917     22775.93
            ...
538194         0.95
540945         0.85
542736         0.55
567869         0.40
570554         0.38
Name: TotalPrice, Length: 18532, dtype: float64