### data analysis goal
1. priority control keyword, extract low efficiency keyword
2. priority control ad group, extract low efficiency ad group

### procedure of analysis
- 1. data preprocess
- 2. data exploration
- 3. visualization
- 4. data analysis

### 1. data preprocessing
- goal of lecture:
    1. load data using read_excel function
    2. manage data, using dataframe numerical calculation per columns

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
from pandas import DataFrame
from pandas import Series

In [2]:
df = pd.read_excel('Naver_Report.xls', skiprows = [0]) # skiprows function can delete row in list format

In [3]:
#head
df.head()

,광고그룹,키워드,노출수,클릭수,클릭률(%),"평균클릭비용(VAT포함,원)","총비용(VAT포함,원)"
0,올인원 패키지 : 디자인 툴_파워컨텐츠_포토샵,-,2319456,9606.0,0.414149,261.549448,2512444
1,올인원 패키지 : 업무자동화_VBA,-,767491,8058.0,1.049915,295.974808,2384965
2,ㅍAOP 전체_중복키워드_디자인(삭제),일러스트,1137840,324.0,0.028475,4841.663580,1568699
3,올인원 패키지 : 데이터 분석 입문 온라인_파콘,-,694106,1863.6,0.268489,630.593475,1175174
4,3. html,HTML,9626374,813.6,0.008452,1408.435349,1145903

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1381 entries, 0 to 1380
Data columns (total 7 columns):
광고그룹               1381 non-null object
키워드                1381 non-null object
노출수                1381 non-null int64
클릭수                1381 non-null float64
클릭률(%)             1381 non-null float64
평균클릭비용(VAT포함,원)    1381 non-null float64
총비용(VAT포함,원)       1381 non-null int64
dtypes: float64(3), int64(2), object(2)
memory usage: 75.6+ KB

In [5]:
# delete multiple rows
df = pd.read_excel('Naver_Report.xls', skiprows=[2,4,6])
df.head()

,"캠페인보고서(2019.02.01.~2019.04.30.),ftasia",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,광고그룹,키워드,노출수,클릭수,클릭률(%),"평균클릭비용(VAT포함,원)","총비용(VAT포함,원)"
1,올인원 패키지 : 업무자동화_VBA,-,767491,8058,1.04991,295.975,2384965
2,올인원 패키지 : 데이터 분석 입문 온라인_파콘,-,694106,1863.6,0.268489,630.593,1175174
3,6. 파이썬,파이썬,384522,260.4,0.0677204,3705.36,964876
4,1. 코딩,코딩,562162,271.2,0.0482423,3243.22,879560

### # finding missing value

In [8]:
df = pd.read_excel('Naver_Report.xls', skiprows=[0])
df.isnull()

       광고그룹    키워드    노출수    클릭수  클릭률(%)  평균클릭비용(VAT포함,원)  총비용(VAT포함,원)
0     False  False  False  False   False            False         False
1     False  False  False  False   False            False         False
2     False  False  False  False   False            False         False
3     False  False  False  False   False            False         False
4     False  False  False  False   False            False         False
...     ...    ...    ...    ...     ...              ...           ...
1376  False  False  False  False   False            False         False
1377  False  False  False  False   False            False         False
1378  False  False  False  False   False            False         False
1379  False  False  False  False   False            False         False
1380  False  False  False  False   False            False         False

[1381 rows x 7 columns]

In [9]:
# finding missing value by columns
df.isnull().sum()

광고그룹               0
키워드                0
노출수                0
클릭수                0
클릭률(%)             0
평균클릭비용(VAT포함,원)    0
총비용(VAT포함,원)       0
dtype: int64

In [13]:
# finding missing value by rows 
df.isnull().sum(axis=1) # axixs 1 rows, axis 0 is columns

0       0
1       0
2       0
3       0
4       0
       ..
1376    0
1377    0
1378    0
1379    0
1380    0
Length: 1381, dtype: int64

### # manage data, using dataframe numerical calculation per columns
    - num of clicks (클릭수)
    - rate of clicks (클릭률)
    - avg. cost of clicks (평균클릭비용)

In [14]:
df.head()

,광고그룹,키워드,노출수,클릭수,클릭률(%),"평균클릭비용(VAT포함,원)","총비용(VAT포함,원)"
0,올인원 패키지 : 디자인 툴_파워컨텐츠_포토샵,-,2319456,9606.0,0.414149,261.549448,2512444
1,올인원 패키지 : 업무자동화_VBA,-,767491,8058.0,1.049915,295.974808,2384965
2,ㅍAOP 전체_중복키워드_디자인(삭제),일러스트,1137840,324.0,0.028475,4841.663580,1568699
3,올인원 패키지 : 데이터 분석 입문 온라인_파콘,-,694106,1863.6,0.268489,630.593475,1175174
4,3. html,HTML,9626374,813.6,0.008452,1408.435349,1145903

In [15]:
# rounding off the integer in clicks, apply round function
clk=round(df['클릭수'],0)
clk

0       9606.0
1       8058.0
2        324.0
3       1864.0
4        814.0
         ...
1376       0.0
1377       0.0
1378       0.0
1379       0.0
1380       0.0
Name: 클릭수, Length: 1381, dtype: float64

In [16]:
# remove trailing zero = float -> int 
clk.astype(int)

0       9606
1       8058
2        324
3       1864
4        814
        ...
1376       0
1377       0
1378       0
1379       0
1380       0
Name: 클릭수, Length: 1381, dtype: int64

In [18]:
# replace w/ orginal column w/ modified values
df['클릭수'] = clk.astype(int)
df.head()

,광고그룹,키워드,노출수,클릭수,클릭률(%),"평균클릭비용(VAT포함,원)","총비용(VAT포함,원)"
0,올인원 패키지 : 디자인 툴_파워컨텐츠_포토샵,-,2319456,9606,0.414149,261.549448,2512444
1,올인원 패키지 : 업무자동화_VBA,-,767491,8058,1.049915,295.974808,2384965
2,ㅍAOP 전체_중복키워드_디자인(삭제),일러스트,1137840,324,0.028475,4841.663580,1568699
3,올인원 패키지 : 데이터 분석 입문 온라인_파콘,-,694106,1864,0.268489,630.593475,1175174
4,3. html,HTML,9626374,814,0.008452,1408.435349,1145903

### - rate of clicks : CTR = num of clicks / num of exposures * 100

In [20]:
# populate numerical calculation using columns in datagframe 
df['클릭수']/df['노출수']*100

0       0.414149
1       1.049915
2       0.028475
3       0.268547
4       0.008456
          ...
1376    0.000000
1377    0.000000
1378    0.000000
1379    0.000000
1380    0.000000
Length: 1381, dtype: float64

In [22]:
df['클릭률(%)'] = df['클릭수']/df['노출수']*100
df.head()

,광고그룹,키워드,노출수,클릭수,클릭률(%),"평균클릭비용(VAT포함,원)","총비용(VAT포함,원)"
0,올인원 패키지 : 디자인 툴_파워컨텐츠_포토샵,-,2319456,9606,0.414149,261.549448,2512444
1,올인원 패키지 : 업무자동화_VBA,-,767491,8058,1.049915,295.974808,2384965
2,ㅍAOP 전체_중복키워드_디자인(삭제),일러스트,1137840,324,0.028475,4841.663580,1568699
3,올인원 패키지 : 데이터 분석 입문 온라인_파콘,-,694106,1864,0.268547,630.593475,1175174
4,3. html,HTML,9626374,814,0.008456,1408.435349,1145903

In [26]:
# CPC value (평균클릭비용)
cpc = round(df['평균클릭비용(VAT포함,원)'],0)
df['평균클릭비용(VAT포함,원)'] = cpc.astype(int)
df.head()

,광고그룹,키워드,노출수,클릭수,클릭률(%),"평균클릭비용(VAT포함,원)","총비용(VAT포함,원)"
0,올인원 패키지 : 디자인 툴_파워컨텐츠_포토샵,-,2319456,9606,0.414149,262,2512444
1,올인원 패키지 : 업무자동화_VBA,-,767491,8058,1.049915,296,2384965
2,ㅍAOP 전체_중복키워드_디자인(삭제),일러스트,1137840,324,0.028475,4842,1568699
3,올인원 패키지 : 데이터 분석 입문 온라인_파콘,-,694106,1864,0.268547,631,1175174
4,3. html,HTML,9626374,814,0.008456,1408,1145903