### Variable types and data structures refresh

In [1]:
1 # integer

1

In [2]:
1.0 # float

1.0

In [3]:
type(1)

int

In [4]:
type(1.0)

float

In [5]:
1+1

2

In [6]:
1*3

3

In [7]:
1/2

0.5

In [8]:
2**4

16

In [9]:
print("My name is {}, my number is {}".format('Jose', '10')) # using .format method

My name is Jose, my number is 10

In [10]:
print("My name is {x}, my number is {y}".format(x='Jose', y='10')) # using .format method using variable

My name is Jose, my number is 10

In [11]:
mylist = ['a', 'b', 'c'] # list

In [12]:
mylist[0] # get element by index

'a'

In [13]:
mylist[-1] # get the last element by index

'c'

In [14]:
mylist[0] = 'NEW' # modifying element by index

In [15]:
mylist[0]

'NEW'

In [16]:
mylist.append('d') # add element

In [17]:
mylist

['NEW', 'b', 'c', 'd']

In [18]:
mylist = [1, 2, [100, 200]]

In [19]:
mylist[2][1]

200

In [20]:
d = {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'} # dictionary, don't retain any order

In [21]:
d['key1'] # get value by key

'value1'

In [22]:
mytuple = (1,2,3) # tuple, can't change of its value once declared

In [23]:
mytuple[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [24]:
myset = {1,1,1,2,2,2,3,3,3} # set, unique items

In [25]:
myset

{1, 2, 3}