In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

In [2]:
boston = pd.read_csv('Boston_house.csv')
boston.head()

,AGE,B,RM,CRIM,DIS,INDUS,LSTAT,NOX,PTRATIO,RAD,ZN,TAX,CHAS,Target
0,65.2,396.90,6.575,0.00632,4.0900,2.31,4.98,0.538,15.3,1,18.0,296,0,24.0
1,78.9,396.90,6.421,0.02731,4.9671,7.07,9.14,0.469,17.8,2,0.0,242,0,21.6
2,61.1,392.83,7.185,0.02729,4.9671,7.07,4.03,0.469,17.8,2,0.0,242,0,34.7
3,45.8,394.63,6.998,0.03237,6.0622,2.18,2.94,0.458,18.7,3,0.0,222,0,33.4
4,54.2,396.90,7.147,0.06905,6.0622,2.18,5.33,0.458,18.7,3,0.0,222,0,36.2

In [3]:
# extract all columns except Target column
boston_date = boston.drop(['Target'], axis=1)
boston_date.describe()

,AGE,B,RM,CRIM,DIS,INDUS,LSTAT,NOX,PTRATIO,RAD,ZN,TAX,CHAS
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,68.574901,356.674032,6.284634,3.613524,3.795043,11.136779,12.653063,0.554695,18.455534,9.549407,11.363636,408.237154,0.069170
std,28.148861,91.294864,0.702617,8.601545,2.105710,6.860353,7.141062,0.115878,2.164946,8.707259,23.322453,168.537116,0.253994
min,2.900000,0.320000,3.561000,0.006320,1.129600,0.460000,1.730000,0.385000,12.600000,1.000000,0.000000,187.000000,0.000000
25%,45.025000,375.377500,5.885500,0.082045,2.100175,5.190000,6.950000,0.449000,17.400000,4.000000,0.000000,279.000000,0.000000
50%,77.500000,391.440000,6.208500,0.256510,3.207450,9.690000,11.360000,0.538000,19.050000,5.000000,0.000000,330.000000,0.000000
75%,94.075000,396.225000,6.623500,3.677082,5.188425,18.100000,16.955000,0.624000,20.200000,24.000000,12.500000,666.000000,0.000000
max,100.000000,396.900000,8.780000,88.976200,12.126500,27.740000,37.970000,0.871000,22.000000,24.000000,100.000000,711.000000,1.000000

### 1978 Boston housing price data

- 1. AGE : rate of housing built before 1940
- 2. B : rate of black in population
- 3. RM : number of rooms per house
- 4. DIS : distance b/w job
- 5. INDUS : property of non commercial area
- 6. LSTAT : rate of lower class population 
- 7. NOX : concentration of nitrogen monoxide
- 8. PTRATIO : student/teacher ratio
- 9. RAD : distance to highway 
- 10. ZN : rate of living area that exceeds 25,000 ft^2
- 11. TAX : income tax
- 12. CHAS : located near Chales River yeas=1,  no=0

### Multiple regression model
- using crim, rm, lstat

In [5]:
x_data = boston[['CRIM', 'RM', 'LSTAT']]
target = boston[['Target']]
x_data.head()

      CRIM     RM  LSTAT
0  0.00632  6.575   4.98
1  0.02731  6.421   9.14
2  0.02729  7.185   4.03
3  0.03237  6.998   2.94
4  0.06905  7.147   5.33

In [6]:
# add constant
x_data1 = sm.add_constant(x_data, has_constant='add')

/usr/local/lib/python3.7/site-packages/numpy/core/fromnumeric.py:2495: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [7]:
# fit into model
multi_model = sm.OLS(target, x_data1)
fitted_multi_model = multi_model.fit()

In [8]:
fitted_multi_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Target   R-squared:                       0.646
Model:                            OLS   Adj. R-squared:                  0.644
Method:                 Least Squares   F-statistic:                     305.2
Date:                Thu, 30 Jul 2020   Prob (F-statistic):          1.01e-112
Time:                        14:58:37   Log-Likelihood:                -1577.6
No. Observations:                 506   AIC:                             3163.
Df Residuals:                     502   BIC:                             3180.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -2.5623      3.166     -0.809      0.419      -8.783       3.658
CRIM          -0.1029      0.032     -3.215      0.001      -0.166      -0.040
RM             5.2170      0.442     11.802      0.000       4.348       6.085
LSTAT         -0.5785      0.048    -12.135      0.000      -0.672      -0.485
==============================================================================
Omnibus:                      171.754   Durbin-Watson:                   0.822
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              628.308
Skew:                           1.535   Prob(JB):                    3.67e-137
Kurtosis:                       7.514   Cond. No.                         216.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

### multiple regression using crim, rm, lstat, b,tax,age, zn, nox, indus variables

In [10]:
## extract data from boston_data
x_data2 = boston[['CRIM', 'RM', 'LSTAT', 'B', 'TAX', 'AGE', 'ZN', 'NOX', 'INDUS']]
x_data2.head()

      CRIM     RM  LSTAT       B  TAX   AGE    ZN    NOX  INDUS
0  0.00632  6.575   4.98  396.90  296  65.2  18.0  0.538   2.31
1  0.02731  6.421   9.14  396.90  242  78.9   0.0  0.469   7.07
2  0.02729  7.185   4.03  392.83  242  61.1   0.0  0.469   7.07
3  0.03237  6.998   2.94  394.63  222  45.8   0.0  0.458   2.18
4  0.06905  7.147   5.33  396.90  222  54.2   0.0  0.458   2.18